body {
    background-color: #8080808c;
    display: flex;
    flex-direction: column;
    color: white;
}

nav.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000b3;
    border-bottom: 5px solid white;
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
    letter-spacing: .2em;
}

button.resize {
    margin: 15px;
}

button.background-options {
    margin: 15px;
}

main {
    flex-direction: row;
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: space-around;
}

section.search-container {
    background-color: #000000b3;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 10px;
    border: 2px solid white;
    width: 50%;
    letter-spacing: .1em;
}

form {
    padding-bottom: 20px;
}

input.city-search {
    border: none;
    height: 2.5em;
    width: 75%;
    border-radius: 20px;
    padding: 0 .5em 0 1em;
    background-color: #454545b3;
    color: white;
    font-size: 120%;
}

input.city-search:hover {
    transition: .2s ease-in-out;
    background-color: #535353b3;


}

input.city-search:focus {
    background-color: #535353b3;
    border: none;
}

button.search-btn {
    border-radius: 50%;
    margin: .5em;
    border: none;
    padding: .5em;
    height: 3.5em;
    width: 3.5em;
    background-color: #454545b3;
    color: white;
    letter-spacing: .1em;
}

button.search-btn:hover {
    background-color: #535353b3;
    cursor: pointer;
    transition: .2s ease-in-out;
}

article.history {
    border-top: 2px solid white;
}

section.forecast {
    background-color: #000000b3;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 10px;
    border: 2px solid white;
    width: 50%
}

.at-a-glance {
    display: flex;
    justify-content: space-around;
    letter-spacing: .1em;
}

article.future {
    border-top: 2px solid white;
}